* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    text-decoration: none;
    font-family: 'dm sans', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
}

main {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}


#text {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

